
@font-face {
  font-family: 'Cubano';
  font-style: normal;
  src: local("Cubano-Regular"), url(./fonts/Cubano-Regular.otf) format("opentype"); 
}

@font-face {
  font-family: 'Bariol';
  font-style: normal;
  src: local("Bariol_Regular"), url(./fonts/Bariol_Regular.otf) format("opentype"); 
}


body {
	background-color: #DDDDDD
}

table.frontpage {
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -25px;

	border: none;

	text-align: center;
}

td.title {
	font-family: Cubano;
	font-size: 315px;
	letter-spacing: -10px;
	line-height: 75%;
	color: #333333;
}

td.template {
	padding-top: 30px;
	font-family: Cubano;
	font-size: 115px;
	letter-spacing: -5px;
	line-height: 70%;
	color: #006699
}

tr.form {
	height: 70px;
}

input {
	font-size:35px;
	margin-bottom:2px;
	border: 3px solid #333333;
	border-radius: 5px;
	font-family: Bariol;
}

input.file {
	width:350px;
	background-color: #FFFFFF;
}

input.button {
	width: 150px;
	background-color: #006699;
	color: #DDDDDD;
	font-weight: bold;
}

td.footer {
	font-family: Bariol;
	font-size: 18px;
	padding-top: 5px;
}



